@font-face {
  font-family: "24 LED";
  src: url("./third-party/24_LED/24_LED.eot?") format("eot"),
    url("./third-party/24_LED/24_LED.woff") format("woff"),
    url("./third-party/24_LED/24_LED.ttf") format("truetype"),
    url("./third-party/24_LED/24_LED.svg#24LED") format("svg");
}

table {
  table-layout: fixed;
}

td {
  word-wrap: break-word;
  white-space: nowrap;
}

td:first-child {
  min-width: 3ch;
  text-align: left;
}

td:nth-child(2) {
  width: 20ch;
  max-width: 20ch;
  padding-left: 5px;
  text-align: left;
}

td:last-child {
  min-width: 6ch;
  overflow: hidden;
  padding-left: 5px;
}

#wrapper {
  padding: 10px;
  font-size: 400%;
  color: yellow;
  background-color: black;
  width: 30ch;
  font-family: "24 LED";
}

/* Prevent line breaks */
td br {
  display: none;
}

td * {
  display: inline-block;
}


canvas,
#gifAnimation {
  margin: 25px auto;
}

#container {
  display: flex;
  margin: 25px auto;
  width: max-content;
}

#lineControls {
  text-align: left;
  margin-left: 25px;
  padding-top: 40px;
}

#lineControls > div {
  height: 25%;
}

body {
  background-color: lightgrey;
  text-align: center;
}

footer {
  position: fixed;
  bottom: 0;
  padding: 5px 0;  left: 0;
  width: 100%;
}

footer > a {
  text-decoration: none;
  color: black;
}